#Search_content {
    width:30%;
    height:40px;
    background:red;
    margin:0 auto;
}
    #Search_content input {
        width:80%;
        height:40px;
        float:left;
        text-indent:5px;
    }
#Search_btn{
    width:20%;
    height:40px;
    background:#0E2547;
    float:left;
    text-align: center;
    line-height: 40px;
    color:white;
    cursor:pointer;
}

#edit_btn {
    width:12%;
    height:40px;
    margin:50px auto;    
}

#edit_btn input{
    width:100%;
    height:40px;
    border-radius:25px;
    background:#0E2547;
    color:white;
    border:0px;
}